@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'utils';

body {
    font: var(--font-m);
}

#root {
    height: 100vh;
    width: 100vw;
}

.app {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color-app);
    color: var(--font-color-primary);
}

.page-content-wrapper {
    display: flex;
    flex-direction: row;
}

.page-content {
    flex: 1 1 auto;
    padding: 0 20px;
}
