.app.theme-dark {
  --bg-color: black;

  --color-primary: rgb(82, 68, 243);
  --color-secondary: rgb(99, 62, 62);

  --font-color-primary: rgb(230, 226, 226);
  --font-color-secondary: rgb(118, 109, 109);
}