.theme-dark {
  --bg-color: rgb(25 23 23);
  --bg-color-contrast: rgb(73 70 70);
  --color-primary: rgb(42 169 44);
  --color-secondary: rgb(99 62 62);
  --font-color-primary: rgb(20 101 47);
  --font-color-secondary: rgb(114 60 60);
}