.app.theme-normal {
  --bg-color: white;

  --color-primary: rgb(37, 20, 220);
  --color-secondary: rgb(61, 58, 58);

  --font-color-primary: rgb(13, 12, 12);
  --font-color-secondary: rgb(86, 74, 74);
}