.app-theme-normal {
  --bg-color-app: rgb(200 191 191);
  --bg-color-app-contrast: rgb(53 43 55);
  --color-primary: rgb(37 20 220);
  --color-secondary: rgb(61 58 58);
  --font-color-primary: rgb(13 12 12);
  --font-color-secondary: rgb(86 74 74);
}